{% extends 'layout/base.html' %}

{% block 'title' %}
    Contactos
{% endblock %}


{% block 'content' %}
    <h1>Contactos</h1>
    {% include 'contact/partials/_search.html' %}

    {% include 'contact/partials/_by_initial.html' %}

    <span class="aux-btn">
        <a href="{% url 'contact' %}">Ver Todos</a>
        <a href="{% url 'contact_create' %}">Agregar</a>
    </span>

    <ul class="list">
        {% for contact in contacts %}
            <li>{{ contact.name }}
                <span><a href="{% url 'contact_view' id=contact.id %}" class="btn btn-detail">Ver</a>
                <a href="{% url 'contact_edit' id=contact.id %}" class="btn btn-edit">Editar</a>
                <a href="{% url 'contact_delete' id=contact.id %}" class="btn btn-delete">Borrar</a></span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}